body {
    margin: 0;
    padding: 0;
}
#sec-1 {
  background: url(../img/1.jpg)  no-repeat 50% ;
  height: 1000px;
  background-color: #f9f9fb;
}
.sec-1-block {
    padding-top: 350px;
    padding-left: 200px;
    width: 1000px;
    margin: 0 auto;
}
.title-black {
    font-size: 80px;
    font-weight: 600;
    margin: 0;
}
.text-black {
    width: 370px;
    font-size: 18px;
    line-height: 22px;
}
.orange-bt {
    color: white;
    background-color: #ff6033;
    padding: 20px 30px;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 600;
    cursor: pointer;
    -moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
}
.orange-bt:hover {
    border: 2px dotted ;
	color:#ff6033;
    background: rgba(0,0,0,0);
    -webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
}
.hed-scroll {
    text-align: center;
    padding-top: 190px;
    cursor: pointer;
}
#sec-2 {
    background-color: #00aead;
}
.sec-2-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}
.sec-2-flex1 {
    width: 40%;
}
.sec-2-flex2 {
    width: 50%;
}
.sec-2-block {
    margin-top: 180px;
    color: white;
}
.rass {
width: 500px;
padding-top: 50px;
}
#sec-3 {
    background: url(../img/3.jpg)  no-repeat center ;
    height: 700px;
    background-color: #70c0ff;
}
.bl-3 {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mar-top {
    margin-top: 180px;
}
.mar-top {
    margin-top: 180px;
}
.menu-img > img {
    padding: 23px;
}
.bl-wrap-1 {
    width: 50%;
}
.serv-menu {
    width: 400px;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    cursor: pointer;
    opacity: 0.6;
}
.serv-menu:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(3);
    -o-transform: scale(1);
    opacity: 0.9;
}
.menu-text {
    padding-top: 37px;
    width: 300px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.menu-img {
    width: 100px;
    border-left: 1px solid #9D9D9D;
}
.bl-wrap-3 {
    margin-top: 240px;
    width: 50%;
    color: white;
}
.title {
    font-size: 80px;
    font-weight: 600;
}
#sec-4 {
    background-color: #ffe92f;
    padding: 40px 0;
}
.sec-4-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 986px;
    margin: 0 auto;
}
.big {
    width: 670px;
    height: 483px;
}
.no-big {
    width: 320px;
    margin: 0px 0px 14px;
}
.sec-4-block {
    padding: 40px 0;
    text-align: center;
}
.center {
    text-align: center;
    margin: 20px auto;
   
}
.sec-4-flex1{
    width: 70%;
}
.sec-4-flex2{
    width: 30%;
}
.sec-4-flex3{
    display: flex;
    justify-content: space-between;
    width: 986px;
}
.bottom-linea{
    width: 500px;
    padding: 0px 18px 15px 0px;
}
.blu-bt {
    color: white;
    background-color: #5585a2;
    padding: 20px 30px;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 600;
    cursor: pointer;
    -moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
}
.blu-bt:hover {
    border: 2px dotted;
	color:#5585a2;
    background: rgba(0,0,0,0);
    -webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
}
 .center-blu {
     text-align: center;
 }
